table{
    width: 70%;
    min-height: 17em;
    text-align: center;
}
td:first-child{
    width: 4em;
}
td:last-child{
    width: 4em;
}
td:nth-child(3){
    width: 4em;
}
tr:first-child{
    background-color: rgb(11, 110, 11);
}
tr:nth-child(2){
    background-color: lightgreen;
}
